body{
	font-size: 12px;
	background-color: #f5f5f5;
}
#now{
	width: 100%;
	height: 13.8rem;
	background: url('../img/screen.png'),linear-gradient(#3EBDFF,#49E5FF);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom center;
}
.now_city{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 1.57rem;
}
.now_air{
	width: 2.1rem;
	height: 1.26rem;
	background-color: #F1AB62;
	margin-left: 0.26rem;
	margin-top: 0.05rem;
	border-radius: 0.25rem;
	padding-top: 0.31rem;
}
.now_air h1,.now_air h2{
	font-size: 0.35rem;
	color: #fff;
	text-align: center;
}
.now_tem{
	font-size: 0.96rem;
	color: #fff;
	text-align: center;
	margin-top: 0.77rem;
	line-height: 0.96rem;
}
.now_weather{
	font-size: 0.51rem;
	color: #fff;
	text-align: center;
	margin-top: 0.91rem;
	line-height: 0.51rem;
}
.now_wind_box{
	font-size: 0.32rem;
	color: #fff;
	text-align: center;
	margin-top: 0.54rem;
	line-height: .32rem;
}
.now_notice{
	font-size: 0.32rem;
	color: #fff;
	text-align: center;
	margin-top: 1.48rem;
	line-height: .32rem;
}
#future{
	width: 100%;
	height: 3.09rem;
	background-color: #fff;
	border-bottom: .03rem solid #e4e4e4;
	padding: .72rem 0;
}
.future_box{
	width: 50%;
	height: 100%;
	float: left;
	padding: 0 .58rem;
	font-size: .32rem;
}
.today{
	border-right: .03rem solid #e4e4e4;
}
.future_top{
	width: 100%;
	height: 50%;
}
.future_date{
	float: left;
}
.future_top p{
	float: right;
}
.today_img,.tomorrow_img{
	width: 0.72rem;
	height: 0.72rem;
	float: right;
}
#hours{
	width: 100%;
	height: 3.9rem;
	background-color: #fff;
	border-top:  .03rem solid #e4e4e4;
	border-bottom:  .03rem solid #e4e4e4;
	margin-top: 0.3rem;
	display: flex;
	overflow-x:scroll ; 
}
#hours li{
	width: 2rem;
	height: 3.9rem;
	padding: 0.7rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	flex-shrink: 0;
}
.hours_img{
	width: 1rem;
	height: 1rem;
	padding:0  0.4rem;
	box-sizing: content-box;
}
.weeks_img{
	width: 1rem;
	height: 2.1rem;
	padding:0  0.4rem;
	box-sizing: content-box;
}
.weeks_img img{
	width: 1rem;
	height: 1rem;
	display: block;
	margin-bottom: 0.05rem;
}
.hours_time, .hours_temp, .weeks_date, .weeks_weather, .weeks_max, .weeks_min,.weeks_fengxiang, .weeks_fengji{
	font-size: 0.26rem;
}
#weeks{
	width: 100%;
	height: 11.19rem;
	background-color: #fff;
	border-top:  .03rem solid #e4e4e4;
	border-bottom:  .03rem solid #e4e4e4;
	margin-top: 0.3rem;
	display: flex;
	overflow-x:scroll ; 
}
#weeks li{
	width: 2.5rem;
	height: 11.19rem;
	padding: 0.7rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	flex-shrink: 0;
}
.weeks_max, .weeks_min,.weeks_fengxiang,.weeks_weather{
	width: 2rem;
	text-align: center;
}
#hours::-webkit-scrollbar, #weeks::-webkit-scrollbar{
	display: none;
	/* display: block; */
}
#citys{
	width: 100vw;
	height:auto;
	background-color: #F6F6F6;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
	position: fixed;
	display: none;
	padding:0.35rem 0.3rem 0 0.3rem;
	/* position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: red; */
}
header{
	width: 100%;
	height: 1.29rem;
	background-color: #fff;
	padding: 0 0.29rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}
.search{
	width: 9.03rem;
	height: 0.87rem;
	background-color: #e2e2e2;
	border: 0;
	border-radius: 0.2rem;
	padding-left: 0.3rem;
	outline: none;
}
.btn{
	font-size: 0.42rem;
	color: #76A9FF;
}

.remen_city{
	padding: 0 0.29rem;
	border: 0;
}
.remen_city_top{
	width: 50%;
	height: 0.7rem;
	padding: 0 0.29rem 0 0.29rem;
	margin-bottom: 0.5rem;
	float: left;
}
.renmen_wenzi{
	font-size: 0.45rem;
	color: #999999;
	line-height: 0.7rem;

}
.remen_city_bottom{
	width: 100vw;
	display: flex;
	padding-top: 0.08rem;
	flex-wrap: wrap;
}
.city_name{
	width: 2.34rem;
	height: 0.84rem;
	background-color: #fff;
	border-radius: 0.2rem;
	border: 0.03rem solid #E0E0E0;
	text-align: center;
	line-height: 0.84rem;
	/*margin: 0 0.39rem 0.39rem 0;*/
	margin: 0.25rem 0.39rem 0.39rem 0.2rem;
	justify-content: space-around;
	align-content: space-around;
	float: left;
}